Repository stronghold-financial/stronghold: changes, and which Codecov flags are due for each by the changed paths.
All: stronghold-rust, stronghold-cli, stronghold, stronghold-http-api, stronghold-rosetta-api

Adding jq
  stronghold-http-api/Dockerfile
Due: stronghold, stronghold-http-api

Adding jq
  stronghold-http-api/scripts/build.sh
Due: stronghold, stronghold-http-api

Update Dockerfile
  stronghold-rosetta-api/Dockerfile
Due: stronghold, stronghold-rosetta-api

Update build.sh
  stronghold-rosetta-api/scripts/build.sh
Due: stronghold, stronghold-rosetta-api

Remove node module to build locally on Linux
  stronghold-http-api/scripts/build.sh
Due: stronghold, stronghold-http-api

Fixed readme
  README.md
Due: none

Delete unused fake test code
  stronghold/src/testUtilities/fake/helpers/blockchain.ts
Due: stronghold

Update example.env
  stronghold-http-api/example.env
Due: stronghold, stronghold-http-api

Update README.md
  README.md
Due: none

Path conditions:
  stronghold-rust: any of: stronghold-rust, but not: config/*, stronghold-wasm/*, stronghold/src/aaptain/testUtilities/*
  stronghold-cli: any of: stronghold-cli, but not: config/*, stronghold-wasm/*, stronghold/src/aaptain/testUtilities/*
  stronghold: any of: stronghold, but not: config/*, stronghold-wasm/*, stronghold/src/aaptain/testUtilities/*
  stronghold-http-api: any of: stronghold-http-api, but not: config/*, stronghold-wasm/*, stronghold/src/aaptain/testUtilities/*
  stronghold-rosetta-api: any of: stronghold-rosetta-api, but not: config/*, stronghold-wasm/*, stronghold/src/aaptain/testUtilities/*
